/* #app {
    width: 100%;
    min-width: 1440px;
    min-height: 100%;
    overflow-y: hidden;
  }
  html,
  body {
    overflow-y: hidden;
  }
  html,body,.root { 
    width: 100%;
    height: 100%;
    background-color: #fff !important;
} */
@media (any-hover: none) {
  body::before {
      content: 'hoverNone';
      display: none;
  }
}